<!-- <form #basicForm = "ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text"  ngModel name="name" placeholder="enter name"><br><br>
    <input type="email" ngModel name="email" placeholder="enter email"><br><br>
    <input type="password" ngModel name="password" placeholder="enter password"><br><br>
    <button>Submit</button>
</form>

<p>all information of user given below. </p>


<ul>
    <li>{{userDetails.name}}</li>
    <li>{{userDetails.email}}</li>
    <li>{{userDetails.password}}</li>
</ul> -->
<!-- <div style="margin-left: 20px;"> 
    <app-todo-list></app-todo-list>
</div> -->



<!-- two way binding  -->

<!-- <app-two-way-bind></app-two-way-bind> -->


<!-- pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- templates forms -->
<app-templates-forms></app-templates-forms>


